<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>showcAIse by Jacob Shirota</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        header {
            text-align: center;
            background-color: #007BFF;
            color: white;
            padding: 20px 0;
            font-size: 1.5em;
        }
        iframe {
            display: block;
            width: 100%;
            height: calc(100vh - 70px);
            border: none;
        }
    </style>
    <script>
        window.onload = init;

        function init() {
            var targetIframe = document.getElementById("target_iframe");
            var eventSource = new EventSource("/ai");
            eventSource.onmessage = function(e){
                targetIframe.innerHTML = e.data;
                eventSource.close();
            }
        }
    </script>
</head>
<body>
    <header>PROMPT</header>
    <div id="target_iframe">something here</div>
</body>
</html>
